# WordPress Core (Ignore core files to keep repo light)
/wp-admin/
/wp-includes/
/wp-*.php
/index.php
/license.txt
/readme.html
/xmlrpc.php

# Configuration
wp-config.php
wp-config-sample.php
wp-config-local.php
.htaccess
nginx.conf

# Content - Whitelist Strategy
# Ignore everything in wp-content
/wp-content/*

# Allow Themes
!/wp-content/themes/

# Allow Plugins
!/wp-content/plugins/

# Allow index.php
!/wp-content/index.php

# Specific ignores within allowed folders
/wp-content/themes/twent*/
/wp-content/themes/classic/
/wp-content/plugins/w3-total-cache/
/wp-content/updraft/*
*.zip
*.tar.gz
*.sql
*.bak

# Application Dependencies
node_modules/
npm-debug.log
yarn-error.log
/vendor/

# System Files
.DS_Store
Thumbs.db
ehthumbs.db

# IDE / Editor
.idea/
.vscode/
*.swp
*.swo
*.sublime-project
*.sublime-workspace

# Other fies
ads.txt
error_log
litespeed.conf
llms.txt
robots.txt
